//COLORS
$color-primary: hsl(26, 100%, 55%);
$color-primary-pale: hsl(25, 100%, 94%);

$color-dark-blue: hsl(220, 13%, 13%);
$color-grayish-blue: hsl(220, 14%, 75%);
$color-grayish-blue-light: hsl(223, 64%, 98%);
$color-grayish-blue-dark: hsl(219, 9%, 45%);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

//BREAKPOINTS
$bp-small: 31.25em; //500px
$bp-medium: 53.125em; //850px
