.btn {
  background-color: $color-primary;
  color: $color-white;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    transform: translateY(3px);
  }

  &__text {
    margin-left: 1rem;
  }
}
