.header-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  color: $color-black;
  line-height: 1.2;
}

.header-2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary;
}
